APP_NAME=EDG Connect API
APP_VERSION=0.1.0
DEBUG=false

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=edg_ticketing
DB_USER=root
DB_PASSWORD=

# Plateforme centrale d'authentification manager-user
CENTRAL_AUTH_BASE_URL=https://appsecu.edgportal.com
CLIENT_APP_CODE=
CLIENT_APP_SECRET=
HTTP_TIMEOUT_MS=20000

# SMTP (non utilisé pour l'instant)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
